{% extends "layout.html" %}

{% block content %}

<div class="wrapper">
  <div class="section">
    <p class="section-title"></p>
    <small class="center block"></small>
    <div class="col">
      <code id="account_transaction" class="status-indicator">Your account details will appear...</code>
    </div>
  </div>
  <div class="buttons">
    <button class="btn" onclick="createAccount()">Create Account</button>
  </div>
</div>
<div class="spinner-overlay" id="spinner-overlay">
  <div class="spinner"></div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  function createAccount() {
      document.getElementById('spinner-overlay').style.display = 'flex';

      fetch(`/rddl/createaccount`)
      .then(response => response.json())
      .then(data => {
          console.log(data)
          if (data.message.toLowerCase() === '<response [200]>'.toLowerCase())
          {
              document.getElementById('account_transaction').textContent = 'Account Creation Successful'
          } else {
              document.getElementById('account_transaction').textContent = "Account Creation failed check Explorer if Address exists"
          }
          document.getElementById('spinner-overlay').style.display = 'none';
      })
      .catch(error => {
          console.log(error)
          document.getElementById('account_transaction').textContent = 'Failed to create account';
          document.getElementById('spinner-overlay').style.display = 'none';
      });    
  }
</script>
{% endblock %}