<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Agent</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/app.css') }}">
</head>
<body>
<div class="header">
    <div class="center"><h1>Welcome to your Energy Agent</h1></div>
</div>
<div class="content">
    <p>Here you can start configuring your Energy Agent.</p>
    <div class="buttons">
        <button class="btn" id="startButton" onclick="startAgent()">Start Agent</button>
        <button class="btn" id="stopButton" onclick="stopAgent()">Stop Agent</button>
        <button class="btn" id="restartButton" onclick="restartAgent()">Restart Agent</button>
    </div>
    <div id="status" class="status-indicator">Status: <span id="statusText">Checking...</span></div>
    <div id="attestationStatus"></div> <!-- New element for displaying the attestation status -->
</div>
<script>
    const API_BASE = `/energy_agent`;

    function updateStatus() {
        fetch(`${API_BASE}/status`)
                .then(response => response.json())
                .then(data => {
                    // Update the status text
                    document.getElementById('statusText').textContent = data.status;
                    // Update the status color
                    document.getElementById('status').className = `status-indicator ${data.status}`;
                })
                .catch(error => {
                    console.error('Failed to fetch status:', error);
                });
    }

    function startAgent() {
        fetch(`${API_BASE}/start`)
                .then(response => response.json())
                .then(data => updateStatus())
                .catch(error => console.error('Failed to start agent:', error));
    }

    function stopAgent() {
        fetch(`${API_BASE}/stop`)
                .then(response => response.json())
                .then(data => updateStatus())
                .catch(error => console.error('Failed to stop agent:', error));
    }

    function restartAgent() {
        fetch(`${API_BASE}/restart`)
                .then(response => response.json())
                .then(data => updateStatus())
                .catch(error => console.error('Failed to restart agent:', error));
    }

    function checkAttestation() {
        fetch(`/rddl/machine`)
                .then(response => response.json())
                .then(data => {
                    if (data.status === "error") {
                        // Disable the buttons if the status is "error"
                        document.getElementById('startButton').disabled = true;
                        document.getElementById('stopButton').disabled = true;
                        document.getElementById('restartButton').disabled = true;
                        // Update the attestation status
                        document.getElementById('attestationStatus').textContent = 'Machine not attested';
                        document.getElementById('attestationStatus').className = 'not-attested';
                    } else {
                        // Enable the buttons if the status is not "error"
                        document.getElementById('startButton').disabled = false;
                        document.getElementById('stopButton').disabled = false;
                        document.getElementById('restartButton').disabled = false;
                        // Update the attestation status
                        document.getElementById('attestationStatus').textContent = 'Machine ready';
                        document.getElementById('attestationStatus').className = 'attested';
                    }
                })
                .catch(error => {
                    console.error('Failed to fetch attestation:', error);
                });
    }

    window.onload = function() {
        updateStatus();
        checkAttestation();
    };
</script>
</body>
</html>