<header class="header-top">
  <nav>
    <a href="/"><strong>Home</strong></a>
    <div class="buttons">
      <button class="btn-small" id="startButton" onclick="startAgent()">Start Agent</button>
      <button class="btn-small" id="stopButton" onclick="stopAgent()">Stop Agent</button>
      <button class="btn-small" id="restartButton" onclick="restartAgent()">Restart Agent</button>
      <div id="status" class="">Status: <span id="statusText">Checking...</span></div>
      <div id="attestationStatus"></div> <!-- New element for displaying the attestation status -->
    </div>
  </nav>
</header>



