<!DOCTYPE html>
<html lang="en">

<head>
    <title>Topic Configuration</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/app.css') }}">
    <script>
        let topics = [];

        async function fetchTopics() {
            const response = await fetch('/config/topics');
            const data = await response.json();
            const topicsData = data.topics;
            const currentTopicsList = document.getElementById('currentTopicsList');
            currentTopicsList.innerHTML = '';
            topicsData.forEach(topic => {
                const li = document.createElement('li');
                li.textContent = topic;
                currentTopicsList.appendChild(li);
            });
        }

        function addTopic() {
            const newTopicInput = document.getElementById('newTopic');
            const newTopic = newTopicInput.value.trim();
            if (newTopic) {
                topics.push(newTopic);
                newTopicInput.value = '';
                displayTopics();
            }
        }

        function displayTopics() {
            const topicsList = document.getElementById('topicsList');
            topicsList.innerHTML = '';
            topics.forEach((topic, index) => {
                const topicElement = document.createElement('li');
                topicElement.textContent = topic;
                topicsList.appendChild(topicElement);
            });
        }

        async function updateTopics() {
            const response = await fetch('/config/topics', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ topics: topics })
            });
            const data = await response.json();
            alert(data.message);
            topics = [];
            displayTopics();
            await fetchTopics();
        }

        async function resetTopics() {
            topics = [];
            const response = await fetch('/config/topics', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ topics: [] })
            });
            const data = await response.json();
            alert(data.message);
            displayTopics();
            await fetchTopics();
        }

        window.onload = fetchTopics;
    </script>
</head>

<body>
    <div class="header">
        <div class="left"> <a class="link" href="/"><b>Home</b></a></div>
        <div class="center">
            <h1>Configure Topics</h1>
        </div>
    </div>
    <div class="container">

        <div class="current-topics">

            Current Topics:
            <ul id="currentTopicsList"></ul>
        </div>
        <div class="container-sm">
            <div class="form-input"><label for="newTopic">Add Topic</label>
                <input type="text" id="newTopic" placeholder="Enter new topic">
            </div>
            <button class="btn" onclick="addTopic()">Add Topic</button>
            <ul id="topicsList"></ul>
            <div class="buttons">
                <button class="btn" onclick="updateTopics()">Update Topics</button>
                <button class="btn" onclick="resetTopics()">Reset Topics</button>
            </div>
        </div>
    </div>
</body>

</html>