<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wi-Fi Configuration</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/app.css') }}">
    <script>
        async function configureWifi(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            const ssid = formData.get('ssid');
            const password = formData.get('password');

            const response = await fetch('/wifi/configure_wifi', {
                method: 'POST',
                body: new URLSearchParams({ ssid, password })
            });

            const result = await response.json();
            const messageElement = document.getElementById('message');
            if (result.status === 'success') {
                messageElement.textContent = 'Wi-Fi configuration updated successfully!';
                messageElement.style.color = 'green';
            } else {
                messageElement.textContent = `Error: ${result.message}`;
                messageElement.style.color = 'red';
            }
        }

        window.onload = function() {
            document.getElementById('spinner').style.display = 'none';
        };
    </script>
</head>
<body>
    <div class="header">
        <div class="center"><h1>Configure Wi-Fi</h1></div>
    </div>
    <div class="content">
        <div class="container-sm">
            <div id="spinner" class="spinner"></div>
            <form onsubmit="configureWifi(event)">
                <div class="form-input">
                    <label for="ssid">SSID:</label>
                    <select id="ssid" name="ssid" required>
                        <option value="" disabled selected>Select your Wi-Fi network</option>
                        {% for network in networks %}
                        <option value="{{ network }}">{{ network }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-input">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button class="btn" type="submit">Submit</button>
            </form>
            <p id="message" class="message"></p>
        </div>
    </div>
    <div class="spinner-overlay" id="spinner-overlay">
        <div class="spinner"></div>
    </div>
</body>
</html>
